@font-face {
 font-family: New-Baskerville-C;
    src: url(../fonts/5429404.ttf);
}
header{
    background: #282a2d;
    height: 90px;
    padding: 10px 0;
}
.nav-options{
    color: #9fa2a8;
    font-size: 12px;
    text-transform: uppercase;
}
.nav-options a{
    color: #9fa2a8;
    font-family: 'PT Sans', sans-serif;
}

.menu{
    margin-top: 40px;
    padding-left: 10px;
}
.navbar{
    min-height: 30px;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: #fff;
    color: #242526;
}
.navbar-nav>li>a{
    padding: 10px 10px 4px 10px;
    outline: none;

}
.li-active{
    border-bottom: 2px solid #242526;
}
.li-active a{
    color: #242526;
}

a:hover~header{background: #25042d;}

.forow{
    margin-bottom: 58px;
}

.forow div{
    height:200px;
    margin-bottom: 20px;
}
.forow div.into{
    height:420px;
    float: right;
}
.mobile-controls {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}
.mobile-controls{
    display: none;
    z-index: 200;
}
.mobile-controls .nav-control {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 20px;
    border: solid #9e9e9e;
    border-width: 4px 0;
    background: transparent;
    -webkit-transition: -webkit-transform .3s,border-color .3s;
    transition: transform .3s,border-color .3s;
}
.mobile-controls .nav-control:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 4px;
    margin: auto;
    background: #9e9e9e;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.mobile-controls .nav-control.open{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 20px;
    border: solid #fff;
    border-width: 4px 0;
    background: transparent;
    -webkit-transition: -webkit-transform .3s,border-color .3s;
    transition: transform .3s,border-color .3s;
}
.mobile-controls .nav-control.open:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 4px;
    margin: auto;
    background: #fff;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.menu-sm{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(158,158,158,.95);
    z-index: 100;
}
.menu-sm nav{
    padding-top: 48px;
    padding-left: 5px;
}

.menu-sm nav a{
    color: #0f0f0f;
    font-size: 14px;
}

.controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: 60px;
    outline: 0;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
    z-index: 300;
}
.prev {
    right: 50px;
    background: url(../img/arrow.png) no-repeat 0 0px;
}
.next {
    right: 20px;
    background: url(../img/arrow.png) no-repeat -36px 0px;
}
footer{
    background: #282a2d;
    border-top: solid 1px #c7cacf;
    width: 100%;
    height: 60px;
}
.footer-year{
    padding: 20px 0px 20px 10px;
    font-family:  New-Baskerville-C;
    font-size: 16px;
    color: #6b7076;
}
.footer-logotip{
    padding: 20px 80px 20px 0px;
    background: url("../img/footer-logotipt.png") no-repeat 95% 50%;
    text-align: right;
    font-family: 'PT Sans', regular;
    color: #6b7076;
    font-size: 14px;
}
.footer-logotip a{
    text-decoration: none;
    color: #b5b9be;
    margin-left: 5px;
}
.footer-logotip a:hover{
    color: #7F8186;
}
.pop-up{
    position: fixed;
    background: rgba(47,41,52,.9);
    width: 100%;
    height: 100%;
    z-index: 400;
}

.pop-up div{
    position: relative;
    width: 620px;
    height: 412px;
    margin: 10% auto;
    text-align: center;
}
.close-modal{
    background: #606061 none repeat scroll 0% 0%;
    color: #221F1F;
    line-height: 25px;
    position: absolute;
    right: -35px;
    text-align: center;
    top: -35px;
    width: 24px;
    height: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}
a.close-modal:hover{
    text-decoration: none;
    color: #000;
    background: #D9C810 none repeat scroll 0% 0%;
}
